[submodule "aw-server-rust"]
	path = aw-server-rust
	url = https://github.com/ActivityWatch/aw-server-rust.git
[submodule "mobile/src/main/res/drawable/media"]
	path = mobile/src/main/res/drawable/media
	url = https://github.com/ActivityWatch/media.git
